<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h2><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}"  %></h2>
  <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit" %><br>
  <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %><br>
<% end %>

<a href="/shelters/new">New Shelter</a>
